MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/recoverytribe?retryWrites=true&w=majority
JWT_SECRET=recovery_tribe_super_secure_jwt_secret_key_2026
PORT=3000
CLIENT_URL=http://localhost:3000
